<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h2>Edit your post</h2>
    <p><b>Post ID: </b><%= post.id %> </p>
    <p><b>Post Username: </b><%= post.username %> </p>
    <form method="post" action="/posts/<%= post.id %>?_method=patch">
        <textarea name="content"><%= post.content %></textarea><br/>
        <button>Submit</button>
    </form>
</body>
</html>