<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Data</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="Enter user name"><br /><br />
        <textarea name="content" placeholder="Write some content here..."></textarea><br /><br />
        <button>Add Data</button>
    </form>
</body>
</html>